@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gap: .5rem;
    --rows: 4;
    --tile-width: auto;
}

body {
    font-family: 'Ubuntu Mono', monospace;
    @apply bg-stone-200;
}

.flex-center {
    @apply flex justify-center items-center;
}


.game-container {
    transition: 100ms ease-in-out;
}

.tile, .place-holder {
    font-size: 5vmin;
    transition: 100ms ease-in-out;
}

.tile {
    animation: show 200ms ease-in-out;
    width: var(--tile-width);
    --x: 0;
    --y: 0;
    top: calc((var(--tile-width) * var(--y)) + (var(--gap) * (var(--y) + 1)));
    left: calc((var(--tile-width) * var(--x)) + (var(--gap) * (var(--x) + 1)));
}

@keyframes show {
    
    0% {
    opacity: .5;
    transform: scale(0);
    }

}
